html,body {
    width: 100%;
    height: 100%;
}

#header {
    text-align:left;
    margin-bottom: 10px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
    padding: 0 0 20px 0;
}

#footer {
    height: 25px;
    text-align: right;
    font-size: 10px;
    color: #333333;
    background-color: rgba(256,256,256,0.6);
}

.container { 
    padding: 0;
    margin: 0 auto;
    width: 256px;
}

.btn-group {
    padding: 10px 0;
}

h1 {
    font-size: large;
    margin: 10px 0 5px 0;
}

#howto {
    text-align:left;
}

#howto-icon {
    text-align: right;
    font-size: large;
}

#mic {
    text-align: center;
    margin-bottom: 20px;
    background-color: #dddddd;
}

#micControl {
    padding: 5px;
}

#visual {
    display: block;
    background-color: #000000;
    margin: 0 auto;
}

#timer {
    background-color: #000000;
    margin: 0;
}
#captureTimer {
    width: 0%;
    height: 20px;
    background-color: #000000;
}

#captureButton {
    color: #000000;
}
#captureButton.on {
    color: #ff0000;
}

#timeline {
    padding: 0;
    margin: 0 0 20px 0;
}
#timeline li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}