html, body {
    width: 100%;
    height: 100%;
}

.header {
    text-align: left;
    margin-bottom: 10px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
    padding: 0 0 20px 0;
}

.btn-group {
    padding: 10px 0;
}

h1 {
    font-size: large;
    margin: 10px 0 5px 0;
}

.ui {
    text-align: center;
}

.timer {
    background-color: #000000;
    margin: 0;
}

.capture-timer {
    width: 0;
    height: 4px;
    background-color: silver;
}

.recording-button {
    width: 100%;
    white-space: normal;
}

.mic-level {
    top: 0;
    right: 0;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

.procedure-allow {
    margin: 16px;
}

.guide-message {
    font-weight: bold;
}

.charm {
    width: auto;
    margin: 0 auto;
}
.charm .skill-route {
    width: 10em;
    text-align: left;
}

.charm .skill-point {
    width: 4em;
    text-align: right;
}

.charm .slot {
    width: 6em;
    text-align: left;
}

.candidate {
    margin: 16px 0;
    border: 1px solid silver;
    padding: 16px;
}

.candidate-empty {
    border: 1px dashed silver;
}

.results {
    border: 1px solid silver;
    padding: 16px;
    margin: 16px 0;
}

.results .empty {
    color: silver;
    font-style: italic;
}

.backup {
    text-align: left;
}

input[type="file"].backupFile {
    display: inline-block;
}
